includeConfig "$baseDir/params.config"
 
process {
     queue='long-sl7,short-sl7'
     memory='1G'
     cpus='1'
     time='6h'
     scratch = false
   	
   	$fastqc { 
   		queue='long-sl7,short-sl7'
		memory='1G'
   	 	cpus='1'
	} 	

}

process.container = '/software/bi/biocore_tools/git/singularity_conversion/singularity/biocorecrg_chipseq-2018-02-23-837d8482a0a1.img'
singularity.enabled = true



